.contentContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}

.content{
    background-color: rgb(238, 238, 238);
    border-radius: 3px;
    box-shadow: 0px 2px 3px 3px rgb(238, 238, 238);
    padding: 34px;
}